/* ProfileComponent.css */
.profile-container {
  height: 100vh;
  padding: 2rem;
  background-color: #edf2f7;
}

.profile-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
}

.settings {
  position: absolute;
  top: 1rem;
  right: 3rem;
  border: 1px solid #cbd5e0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f7fafc;
  cursor: pointer;
}

.settings-dropdown {
  position: absolute;
  top: 2rem;
  right: 0;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
