.postCardContainer {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(48, 47, 47, 0.1);
  width: max-content;
  cursor: pointer;
  background-color: #fff;
  width: 80%;
  display: flex;
  margin: 2rem auto;
}

.postCardContainer:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.postCardImage img {
  width: 310px;
  height: 380px;
  display: block;
  object-fit: cover; /* Esto mantiene la proporción de aspecto y cubre el cuadro sin distorsión */
}

.postCardContent {
  padding: 20px;
}

.postCardTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

.postCardDescription {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  max-height: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;

}

/* @media (min-width: 769px) {
  .postCardContainer {
    width: 340px;
  }
} */

@media (max-width: 480px) {
  .postCardContent {
    padding: 15px;
  }

  .postCardTitle {
    font-size: 18px;
  }

  .postCardDescription {
    font-size: 14px;
  }
}
