.textCard {
  padding: 50px 100px;
}

.textCardTitle {
  color: var(--Blue, #13294e);
  text-align: center;
  font-size: 64px;
  font-style: normal;
  line-height: 86px;
  letter-spacing: -4px;
  margin-bottom: 10rem;
}

.textCardDescription {
  color: var(--blue-800, #212939);
  text-align: justify;
  font-style: normal;
  line-height: 26px;
  margin: auto;
  max-width: 130rem;
}
