.MetricsContainer{
    text-align: center;
    margin: 0 auto; 
    justify-content: center;
}

.logo {
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--blue);
    font-size: 10px;
    width: 60px;
    color:#13294e;
    margin:auto; 
    color:var(--blue);
    margin:auto;
    margin-bottom: 5rem;
}

.textContainer {
    text-align: center;
}
.mainText {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.subText{
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 7rem;
}

.cluster1{
    display: flex;
    justify-content: center;
    gap: 100px
}

.Text{
    color: var(--orange);
    font-size: 60px;
    font-weight: 550;
}

.Text2{
    color:var(--blue);;
    font-size: 60px;
    font-weight: 600;
}

.info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    /* gap: 20px; */
}


.metrics_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}